api/vendor/
composer.lock
composer.phar
package-lock.json

old-files/
test/

/.tool-versions
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client/src/assets/imgs/logo.png
/client/src/assets/imgs/logo-light.png
/client/node_modules/
