.form {
    display: flex;
    justify-content: space-between;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.btn-file {
    width: 100%;
}

.form-linha {
    display: flex;
    justify-content: space-between;
}

.form-check {
    margin-right: 0.5rem;
}

.erro-cadastro{
    align-self: center;
}

.acao {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.btn-acao {
    margin: 0 0.2rem;
}
