.tabela-wrapper {
    border: .1rem solid #b2b6bb;
    border-radius: .45rem;
    padding: 0.2rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.campo-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campo-pesquisa__elemento {
    margin: .2rem;
}

.campo-pesquisa__avancado {
    background-color: #e6eced;
    border: 1px solid #cdd8da;
    border-radius: 0;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.navegacao .btn {
    margin-bottom: 1rem;
}

th {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

th:hover {
    color: #aaa;
    text-decoration: none;
}

.th__conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.th__conteudo__elemento {
    margin-right: .5rem;
}

th.icone__th svg {
    color: white;
    margin: 0 .2rem;
}
th.icone__th--preto > svg {
    color: black;
    margin: 0 .3rem;
}

td {
    vertical-align: middle;
    overflow-wrap:break-word;
}

td svg {
    color: black;
}

table .ilimitado {
}

table .limitado {
    width: 8.5rem;
    min-width: 8.5rem;
}

table .limitado-maior {
    width: 11.5rem;
    min-width: 11.5rem;
}

table .limitado-menor {
    width: 4.5rem;
    min-width: 4.5rem;
}

table .data {
    width: 7rem;
}

table .icone {
    width: 2.5rem;
    text-align: center;
}

.icone__th, .icone__th--preto {
    cursor: auto;
}

.icone__th--preto:hover {
    color: var(--bs-body-color);
}

.sem-resultado {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
