.login__pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100vh;
}

.login__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
