body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
    flex-grow: 1;
    background-color: #dfdfdf;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pge-bg-gray {
    background-color: rgb(24, 26, 27);
}

.header-logo {
    object-fit: scale-down;
    height: 3.5rem;
}

.footer-text {
    font-size: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 85%;
    margin: 1rem auto;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    padding: 2rem;
}

a > svg {
    color: black;
}

.width--18 {
    width: 18%;
}

.width--31_5 {
    width: 31.5%;
}

.width--45 {
    width: 45%;
}

.width--47_5 {
    width: 47.5%;
}

.width--33 {
    width: 33%;
}

.width--35 {
    width: 35%;
}

.width--63 {
    width: 63%
}

.width--65 {
    width: 65%;
}

.width--80 {
    width: 80%
}

.width--95 {
    width: 95%;
}

.width--100 {
    width: 100%;
}

.hr--margin-top {
    margin-top: 2.5rem;
}
